@font-face {
  font-family:'PT Sans',sans-serif;
  font-style: normal;
  font-weight:400;
  src:url('../../fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family:'PT Sans',sans-serif;
  font-style: normal;
  font-weight:700;
  src:url('../../fonts/PTSans-Regular.ttf');
}
