*{
  margin:0;
  padding:0;
}

body{
  text-transform:uppercase;
  font-family: 'PT Sans', sans-serif;
}

a{
  text-decoration: none;
  color:rgb(255,255,255);
}

p{
  font-family: 'PT Sans', sans-serif;
  font-size:14px;
  line-height: 21px;
}

h3{
  font-family: 'PT Sans', sans-serif;
}

