.page-welcome{
  min-height: 389px;
  width:100%;
  background: url('../../img/back-mobile.jpg') no-repeat center;
  background-size: cover;
  border-top:1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.page-welcome__text{
  min-height: 280px;
  width:(213/320)*100%;
  margin:auto;
  background: url('../../svg/text-index.svg') no-repeat center 20px;
}

.inner-form .page-welcome,
.inner-photo .page-welcome{
  border-top:1px solid transparent;
  min-height:200px;
}

.inner-form .page-welcome__text,
.inner-photo .page-welcome__text{
  min-height: 40px;
  background: url('../../svg/sedona.svg') no-repeat center;
  margin-top: 75px;
}


.page-welcome__figure{
  min-height: 57px;
  width: 100%;
  background: url('../../svg/triangle.svg') no-repeat center;
}


@media(min-width:768px){
  .page-welcome {
    min-height: 518px;
    background: url('../../img/back-desktop.jpg') no-repeat center;
    background-size: cover;
  }


  .inner-form .page-welcome,
  .inner-photo .page-welcome{
    min-height: 300px;
  }

  .page-welcome__text{
    min-height: 350px;
    background: url("../../img/tablet-text-index.png")no-repeat center;
  }
  .inner-form .page-welcome__text,
  .inner-photo .page-welcome__text{
    min-height: 78px;
    margin-top: 85px;
    background: url('../../svg/sedona-tablet.svg') no-repeat center;
  }

  .page-welcome__figure{
    min-height: 57px;
    background: url(../../img/tablet-triangle.png) no-repeat center ;
  }
}

@media(min-width: 1200px){
  .page-welcome__text{
    min-height: 350px;
    background: url('../../img/desktop-text-index.png') no-repeat center;
  }

  .page-welcome__figure{
    min-height: 57px;
    background: url(../../img/desktop-triangle.png) no-repeat center;
  }

}
