.page-footer{
  min-height: 233px;
  text-align:center;
  box-sizing: border-box;
  padding-top: 41px;
}
.page-footer__menu{
  width:153px;
  min-height: 48px;
  margin:auto;
  display: flex;
  justify-content: space-between;
}


.page-footer__element{
  width:48px;
  height: 46px;
  background-color: rgb(129,179,210);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.page-footer__element:hover{
background-color: rgb(102,158,192);
}

.page-footer__element:active{
  background-color:rgb(84,150,189);
}

.page-footer__developed p{
  display: inline-block;
  vertical-align: middle;
}

.page-footer__developed svg{
display: inline-block;
  vertical-align: middle;
}

@media(min-width:768px){
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 60px;
    padding-right:60px;
  }
}